
	<div class="am-u-lg-10 am-u-md-9 am-u-sm-12">
		<div class="am-container">
			<br>
			<strong class="am-text-primary am-text-lg">数据备份</strong> / <small>Data Backup</small>
			<hr>
			<br>
			<div class="am-btn-group">
				<a href="javascript:;" class="am-btn am-btn-success am-btn-sm"><span class="am-icon-download"></span> 备份数据</a>
				<a href="javascript:;" class="am-btn am-btn-danger am-btn-sm"><span class="am-icon-upload"></span> 还原备份</a>
			</div>
			<table class="am-table am-table-bordered am-table-radius am-margin-top-lg">
				<thead>
				<tr>
					<th style="width: 10px;" ><input type="checkbox" id="all"></th>
					<th>表名</th>
					<th>数据量</th>
					<th>创建时间</th>
					<th>上次备份时间</th>
				</tr>
				</thead>
				<tbody id="backup">
				<tr>
					<td><input type="checkbox"></td>
					<td>users</td>
					<td>10</td>
					<td>2015-01-01 00:00:00</td>
					<td>2015-01-01 00:00:00</td>
				</tr>
				<tr>
					<td><input type="checkbox"></td>
					<td>users</td>
					<td>10</td>
					<td>2015-01-01 00:00:00</td>
					<td>2015-01-01 00:00:00</td>
				</tr>
				<tr>
					<td><input type="checkbox"></td>
					<td>users</td>
					<td>10</td>
					<td>2015-01-01 00:00:00</td>
					<td>2015-01-01 00:00:00</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
