{{template "scripts/signature_scripts.html" .}}
<script type="text/javascript" src="/static/js/student/echarts-all.js"></script>
<script type="text/javascript">
    var optionLine = {
        tooltip : {
            trigger: 'axis'
        },
        xAxis : [
            {
                type : 'category',
                data : ['A','B','C','D','E']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'次数',
                type:'bar',
                data: [
                	{{range $key, $val := (index .t_course.Orgs "s_homeworks") | getHomeworkGrade}}
                		parseInt({{$val}}),
                	{{end}}
                ]
            }
        ]
    };
</script>
<script type="text/javascript" src="/static/js/ajaxupload.3.5.js"></script>
<script type="text/javascript">
	function upload(btn) {
	    var s = new AjaxUpload(btn, {
	        action: '/api/student/uploadAttachment',
	        data : {
	            "signature" : GetSignature(getCookie("token"), appid, sessid),
	            "key": key,
	            "student_homework": btn.attr("data-student-homework-id"),
	        },
	        name: 'attachment',
	        onSubmit: function(file, ext){
	            if (! (ext && /^(zip|rar|7z)$/.test(ext))) { 
	                // extension is not allowed 
	                alert('只能上传压缩包文件');
	                return false;
	            }
	        },
	        onComplete: function(file, response){
	            //Add uploaded file to list
	            var reg = /\{[\s\S]*\}/;
	            var str = reg.exec(response);
	            var obj = JSON.parse(str);
	            if(obj.Status==0){
	               	btn.attr("disabled", "disabled");
	               	alert("上传成功");
	            } else {
	            	alert(obj.Data);
	            }
	        }
	    });
	}
</script>
<script type="text/javascript" src="/static/js/student/homework.js"></script>