{{template "scripts/signature_scripts.html" .}}
<script type="text/javascript" src="/static/js/student/message.js"></script>
<script type="text/javascript">
	$(function() {
		$(".changeNotice").click(function() {
			var sender_type = $(this).attr("data-sender-type"), sender_id = $(this).attr("data-sender-id");
			$.post("/api/student/readNoticeByStudent", {
				"key": {{.key}},
				"signature" : GetSignature(getCookie("token"), appid, sessid),
				"sender": sender_id,
				"sender_type": sender_type,
			}, function(data) {
				$(".content").addClass("hide");
				$(".content[data-sender-id='"+sender_id+"'][data-sender-type='"+sender_type+"']").removeClass("hide");
			}, "json");
		});

		$(".reset .delete-notice").click(function() {
			var notice_id = $(this).attr("data-notice-id");
			$.post("/api/student/deleteStudentNotice", {
				"key": {{.key}},
				"signature" : GetSignature(getCookie("token"), appid, sessid),
				"notice": notice_id,
			}, function(data) {
				if (data.Status != 0 ) {
					alert(data.Data);return;
				} else {
					 $(".am-comment[data-notice-id='"+notice_id+"']").remove();return;
				}
			}, "json");
		})
	})
</script>