{{template "scripts/signature_scripts.html" .}}
<script type="text/javascript" src="/static/js/student/echarts-all.js"></script>
<script type="text/javascript">
	optionLine = {
		tooltip : {
			trigger: 'axis'
		},
		legend: {
	        data:['绩点', '成绩']
	    },
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : [
					{{range $key, $val := .term_list}}
						"{{$val.Number}}\n{{$val.StartYear | lowerYear}}-{{$val.EndYear | lowerYear}}",
					{{end}}
				]
			}
		],
		yAxis : [
			{
				type : 'value',
				axisLabel : {
					formatter: '{value}'
				}
			}
		],
		toolbox: {
	        show : true,
	        feature : {
	            magicType : {show: true, type: ['line', 'bar']},
	            restore : {show: true},
	            saveAsImage : {show: true}
	        }
	    },
		series : [
			{
				name:'绩点',
				type:'line',
				data:[
					{{range $key, $val := .term_list}}
						{{if not (eq ((index $val.Orgs "s_course") | getCourseAverageGPA) "0")}}
							parseFloat({{(index $val.Orgs "s_course") | getCourseAverageGPA}}),
						{{end}}
					{{end}}
				],
				markPoint : {
					data : [
						{type : 'max', name: '最大值'}
					]
				},
				markLine : {
					data : [
						{type : 'average', name: '平均值'}
					]
				}
			},
			{
				name:'成绩',
				type:'line',
				data:[
					{{range $key, $val := .term_list}}
						{{if not (eq ((index $val.Orgs "s_course") | getCourseAverageGrade) 0)}}
							{{(index $val.Orgs "s_course") | getCourseAverageGrade}},
						{{end}}
					{{end}}
				],
				markPoint : {
					data : [
						{type : 'max', name: '最大值'}
					]
				},
				markLine : {
					data : [
						{type : 'average', name: '平均值'}
					]
				}
			}
		]
	};
</script>
<script type="text/javascript">
	$(function() {
	    echarts.init( document.getElementById( 'line') ).setOption( optionLine );
	    $( window).resize( function() {
	        echarts.init( document.getElementById( 'line') ).setOption( optionLine );
	    });
	})
</script>