{{template "scripts/signature_scripts.html" .}}
<script type="text/javascript" src="/static/js/ajaxupload.3.5.js"></script>
<script type="text/javascript">
	upload($(".upload-btn"))
	upload($(".upload-img-btn"))

	function upload(btn) {
		var s = new AjaxUpload(btn, {
			action: '/api/student/uploadImg',
			data : {
				"signature" : GetSignature(getCookie("token"), appid, sessid),
				"key": {{.key}},
			},
			name: 'img',
			onSubmit: function(file, ext){
				if (! (ext && /^(jpg|png|jpeg|gif)$/.test(ext))) { 
	                // extension is not allowed 
					alert('只能上传jpg、png、jpeg类型图片');
					return false;
				}
			},
			onComplete: function(file, response){
				//Add uploaded file to list
				var reg = /\{[\s\S]*\}/
				var str = reg.exec(response)
				var obj = JSON.parse(str)
				if(obj.Status==0){
					$('.upload-img-url').val(obj.Data)
					$('.upload-img').attr('src', obj.Data)
				} else {
					alert('上传失败');
				}
			}
		})
	}
</script>