/* 表格下的checkbook样式 */
.tb-cx {
    width: 10px;
}

/* 表格下文件名样式 */
.tb-fn {
    width: 70%;
}

/* active样式 */
.active {
    background: #F3F6FC;
    color: #A8A9AA;
}

.active-hover > tr:hover {
    background: #F3F6FC;
    color: #A8A9AA;
}