.tb {
    width: 100%;
}

.tb th {
    width: 18.5%;
    height: 30px;
    text-align: center;
}

.tb td{
    height: 80px;
    text-align: center;
    border-top: 1px solid #DDDDDD;
}

.tb .head {
    width: 20px;
}

.tb-class {
    cursor: pointer;
    border-radius: 2px;
}

.tb span {
    font-weight: bold;
}

.tb-red {
    background-color: #E74C3C;
}

.tb-green {
    background-color: #2ECC71;
}

.tb-dark-blue {
    background-color: #0e90d2;
}

.tb-grey {
    background-color: #95A5A6;
}

.tb-blue {
    background-color: #3498DB;
}

.tb-yellow {
    background-color: #FFF400;
}

.tb-violet {
    background-color: #9B59B6;
}

.tb-origin {
    background-color: #F37B1D;
}

.tb-blue-green {
    background-color: #1ABC9C;
}

.tb-light-blue {
    background-color: #3BB4F2;
}

.tb-pink {
    background-color: #FC9D9B;
}

.tb-light-green {
    background-color: #CCFF99;
}

.tb-brown {
    background-color: #CC6600;
}

.tb-dark-blue {
    background-color: rgb(91, 151, 188);
}

.tb-rose-red {
    background-color: #FE007F;
}