<div class="am-container">
	<br>
	<div class="am-u-lg-6 am-u-md-9 am-u-sm-12 am-u-sm-centered mg-t-100 checkarea">
		<div class="am-form">
			<div class="am-form-group">
				<p>当前点名周：</p>
			</div>
			<div class="am-form-group">
				<input type="number" name="week" class="am-form-field am-radius" value="{{if .now_week}}{{.now_week}}{{else}}1{{end}}" placeholder="请输入合适的正整数" min="1" max="20">
			</div>
			<div class="am-form-group">
				<p>点名人数（总人数：<span class="maxnum">{{(index .t_course.Orgs "students") | len}}</span>）：</p>
			</div>
			<div class="am-form-group">
				<input type="number" name="num" class="am-form-field am-radius" value="{{(index .t_course.Orgs "students") | len}}" placeholder="请输入合适的正整数" min="1" max="{{(index .t_course.Orgs "students") | len}}">
			</div>
			<div class="am-form-group">
				<button type="button" id="check" class="am-btn am-btn-primary am-btn-block am-radius">点名</button>
			</div>
		</div>
	</div>
	<form action="" method="post" class="am-form content">
		<!--
            id[]
            type[]
        -->
	</form>
</div>