<br>
<a href="#contact" data-am-offcanvas class="am-icon-btn am-icon-users am-active am-show-sm-only retop"></a>
<!-- contact aside -->
<div id="contact" class="am-offcanvas">
    <div class="am-offcanvas-bar contact reset">
        <ul class="contact reset">
            <li>
                <div class="am-g">
                    <div class="am-u-sm-3">
                        <img class="am-round am-img-thumbnail" src="{{.teacher.Headimgurl}}">
                    </div>
                    <div class="am-u-sm-9">
                        <span>{{.teacher.Name}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="am-container">
    <div class="am-u-md-3 am-hide-sm-only reset">
        <ul class="am-g contact reset">
            <li>
                <div class="am-g">
                    <div class="am-u-md-5 am-u-lg-4">
                        <img class="am-round am-img-thumbnail" src="{{.teacher.Headimgurl}}">
                    </div>
                    <div class="am-u-md-7 am-u-lg-8">
                        <span>{{.teacher.Name}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="am-u-md-9 am-u-sm-12 reset">
        <div class="am-g content">
            <ul class="am-comments-list am-comments-list-flip">
                <li class="am-comment">
                    <img src="{{.teacher.Headimgurl}}" alt="" class="am-comment-avatar" width="48" height="48"/>
                    <div class="am-comment-main">
                        <div class="am-comment-bd bg-white">
                            只能呵呵。。。。。。
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>