{{template "scripts/signature_scripts.html" .}}
<script type="text/javascript">
	var data = [
		{{range $key, $val := index .t_course.Orgs "students"}}
			{
				name: {{$val.Name}},
				id: {{$val.Id}},
				class: {{$val.Class.Name}}
			},
		{{end}}
	];

	function studentCheck(id, result, week) {
		$.post("/api/teacher/studentCheck", {
			"key": key,
			"signature": GetSignature(getCookie("token"), appid, sessid),
			"t_course": {{.t_course.Id}},
			"student": id,
			"result": result,
			"week": week, 
		}, function(data){
			if (data.Status != 0) alert(data.Data);
		}, "json");
	};
</script>
<script type="text/javascript" src="/static/js/teacher/check.js"></script>