{{template "scripts/signature_scripts.html" .}}
<script type="text/javascript" src="/static/js/teacher/echarts-all.js"></script>
<script type="text/javascript">
    //设置数据
    var optionLine = {
        //设置时间轴
        timeline : {
            //时间轴时间列表
            data:[
                {{range $key, $val := .t_course.Homeworks}}
                    {{$val.PublishWeek}},
                {{end}}
            ],
            //时间轴的位置设定
            height:80,
            x:50,
            padding:[40,10,10,10],
            //时间轴播放控制
            autoPlay : false,
            playInterval : 2000
        },
        //设置数据点
        options : [
            {{range $key, $val := .t_course.Homeworks}}
                {
                    title:{
                        text:'第{{$val.PublishWeek}}周作业记录'
                    },
                    //设置提示
                    tooltip: {
                        show: true
                    },
                    //设置坐标轴
                    xAxis : [
                        {
                            type : 'category',
                            data : ["A","B","C","D","E"],
                            axisLabel:{
                                margin:-20,
                                textStyle:{
                                    color:'#333333',
                                    fontWeight:'bold'
                                }
                            }
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            type:'bar',
                            data:[
                                {{range $key, $val := $val.StudentHomeworks | getHomeworkGrade}}
                                    parseInt({{$val}}),
                                {{end}}
                            ]
                        }
                    ]
                },
            {{end}}
        ]
    };
</script>
<script type="text/javascript" src="/static/js/ajaxupload.3.5.js"></script>
<script type="text/javascript">
	function upload(btn) {
	    var s = new AjaxUpload(btn, {
	        action: '/api/teacher/uploadAttachment',
	        data : {
	            "signature" : GetSignature(getCookie("token"), appid, sessid),
	            "key": key,
	        },
	        name: 'attachment',
	        onSubmit: function(file, ext){
	            if (! (ext && /^(zip|rar|7z)$/.test(ext))) { 
	                // extension is not allowed 
	                alert('只能上传压缩包文件');
	                return false;
	            }
	        },
	        onComplete: function(file, response){
	            //Add uploaded file to list
	            var reg = /\{[\s\S]*\}/;
	            var str = reg.exec(response);
	            var obj = JSON.parse(str);
	            if(obj.Status==0){
	               	$(".attachment").val(obj.Data);
	         		$(".attachment-file").find("a").attr("href", "/view/teacher/download" + "?filepath=" + obj.Data)
	               	$(".attachment-file").find("a").html(obj.Data.substring(20, obj.Data.length));
	               	$(".attachment-file").css({"display": "block"});
	            } else {
	            	alert(obj.Data);
	            }
	        }
	    })
	}

    function updateUpload(btn) {
        var s = new AjaxUpload(btn, {
            action: '/api/teacher/uploadAttachment',
            data : {
                "signature" : GetSignature(getCookie("token"), appid, sessid),
                "key": key,
            },
            name: 'attachment',
            onSubmit: function(file, ext){
                if (! (ext && /^(zip|rar|7z)$/.test(ext))) { 
                    // extension is not allowed 
                    alert('只能上传压缩包文件');
                    return false;
                }
            },
            onComplete: function(file, response){
                //Add uploaded file to list
                var reg = /\{[\s\S]*\}/;
                var str = reg.exec(response);
                var obj = JSON.parse(str);
                if(obj.Status==0){
                    $(".update-attachment").val(obj.Data);
                    $(".update-attachment-file").find("a").attr("href", "/view/teacher/download" + "?filepath=" + obj.Data)
                    $(".update-attachment-file").find("a").html(obj.Data.substring(20, obj.Data.length));
                    $(".update-attachment-file").css({"display": "block"});
                } else {
                    alert(obj.Data);
                }
            }
        })
    }
</script>
<script type="text/javascript" src="/static/js/teacher/homework.js"></script>