<div class="am-container">
	<br>
    <div class="am-u-sm-12 am-u-md-10 am-u-lg-8">
        <form action="/api/student/studentCheck" method="post" class="am-form select-form">
            <div class="am-form-group am-form-group-sm am-u-sm-3 pad-l-r">
                <select name="xnd" class="am-form-field">
                    {{range $key, $val := (.term_list | GetTermsYear | FilterRepeat)}}
                        <option value="{{$val}}" {{if eq $val ($.term | GetTermYear)}}selected="selected"{{end}}>{{$val}}</option>
                    {{end}}
                </select>
            </div>
            <div class="am-form-group am-form-group-sm am-u-sm-2 pad-l-r">
                 <select name="xqd" class="am-form-field">
                    {{range $key, $val := (.term_list | GetTermsNumber | FilterRepeat)}}
                        <option value="{{$val}}" {{if eq $val ($.term | GetTermNumber)}}selected="selected"{{end}}>{{$val}}</option>
                    {{end}}
                </select>
            </div>
            <div class="am-form-group am-form-group-sm am-u-sm-5 pad-l-r">
                <select name="course" class="am-form-field">
                    {{range $key, $val := .s_courses}}
                        <option value="{{$val.Id}}" {{if $.s_course}} {{if eq $.s_course.Id $val.Id}}selected="selected"{{end}} {{end}}>
                            {{$val.TeacherCourse.Course.Name}} (周{{(index ($val.TeacherCourse.Time | Map2Json) "week_day") | GetWeekDayInChinese}} 第{{index ($val.TeacherCourse.Time | Map2Json) "week_time"}}节)
                        </option>
                    {{end}}
                </select>
            </div>
            <div class="am-form-group am-u-sm-2 pad-l-r">
                <input type="hidden" name='key' value="{{.key}}">
                <input type="hidden" name='signature' class='signature'>
                <button type="submit" class="am-btn am-btn-primary am-btn-sm">查看</button>
            </div>
        </form>
    </div>
    <div class="am-u-sm-12">
        <fieldset>
            <legend>作业统计</legend>
            <div id="line" class="h-300"></div>
        </fieldset>

        <fieldset>
            <legend>学期签到</legend>
            <div id="term-line" class="h-300"></div>
        </fieldset>

        <fieldset>
            <legend>课程签到</legend>
            <div id="course-line" class="h-300"></div>
        </fieldset>
    </div>
</div>