<div class="am-container">
	<br>
    <div class="am-u-sm-12 am-u-md-10 am-u-lg-8">
        <form action="/api/student/courseHistory" method="post" class="am-form select-form">
            <div class="am-form-group am-form-group-sm am-u-sm-3 pad-l-r">
                <select name="xnd" class="am-form-field">
                    {{range $key, $val := (.term_list | GetTermsYear | FilterRepeat)}}
                        <option value="{{$val}}" {{if eq $val ($.t_course.Term | GetTermYear)}}selected="selected"{{end}}>{{$val}}</option>
                    {{end}}
                </select>
            </div>
            <div class="am-form-group am-form-group-sm am-u-sm-2 pad-l-r">
                 <select name="xqd" class="am-form-field">
                    {{range $key, $val := (.term_list | GetTermsNumber | FilterRepeat)}}
                        <option value="{{$val}}" {{if eq $val ($.t_course.Term| GetTermNumber)}}selected="selected"{{end}}>{{$val}}</option>
                    {{end}}
                </select>
            </div>
            <div class="am-form-group am-form-group-sm am-u-sm-5 pad-l-r">
                <select name="course" class="am-form-field">
                    {{range $key, $val := .s_courses}}
                        <option value="{{$val.Id}}" {{if eq $.t_course.Id $val.TeacherCourse.Id}}selected="selected"{{end}}>
                            {{$val.TeacherCourse.Course.Name}} (周{{(index ($val.TeacherCourse.Time | Map2Json) "week_day") | GetWeekDayInChinese}} 第{{index ($val.TeacherCourse.Time | Map2Json) "week_time"}}节)
                        </option>
                    {{end}}
                </select>
            </div>
            <div class="am-form-group am-u-sm-2 pad-l-r">
                <input type="hidden" name='key' value="{{.key}}">
                <input type="hidden" name='signature' class='signature'>
                <button type="submit" class="am-btn am-btn-primary am-btn-sm">查看</button>
            </div>
        </form>
    </div>
    <div class="am-u-sm-12">
        <br>
        <fieldset>
            <legend>课程信息</legend>
            <ul class="am-avg-md-3 am-avg-sm-2 am-thumbnails">
                <li>课程代码：{{.t_course.Course.Id}}</li>
                <li>课程名称：{{.t_course.Course.Name}}</li>
                <li>授课教师：<a href="/view/student/teacherInfo?teacher={{.t_course.Teacher.Id}}" title="查看任课教师">{{.t_course.Teacher.Name}}</a></li>
                <li>班级数量：{{if (index .t_course.Orgs "class_num")}} {{index .t_course.Orgs "class_num"}} {{else}} 未知 {{end}}</li>
                <li>学生数量：{{if (index .t_course.Orgs "student_num")}} {{index .t_course.Orgs "student_num"}}人 {{else}} 未知 {{end}}</li>
                <li>上课地点：{{.t_course.Place}}</li>
                <li>上课时间：周{{(index (.t_course.Time | Map2Json) "week_day") | GetWeekDayInChinese}} 第{{index (.t_course.Time | Map2Json) "week_time"}}节</li>
                <li>上课周期：{{.t_course.StartWeek}} - {{.t_course.EndWeek}}周</li>
                <li>特殊描述：{{if .t_course.Remark}} {{.t_course.Remark}} {{else}} 暂无 {{end}}</li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>考勤信息</legend>
            <div id="line" class="h-300"></div>
        </fieldset>
        <br>
    </div>
</div>