<div class="am-g bg-primary ">
	<div class="am-u-lg-2 am-u-md-3 am-u-sm-4 am-u-sm-centered am-padding-vertical-xl">
		<img class="am-round am-img-thumbnail" src="{{.student.Headimgurl}}" />
	</div>
</div>
<br><br>
<div class="am-container">
	<fieldset>
		<legend>个人信息</legend>
		<ul class="am-avg-md-3 am-avg-sm-2 am-thumbnails">
			<li>姓名：{{.student.Name}}</li>
			<li>性别：{{.student.Sex | getSex}}</li>
			<li>学号：{{.student.Id}}</li>
			<li>系别：{{if .student.Department}}{{.student.Department.Name}}{{else}}未知{{end}}</li>
			<li>专业：{{if .student.Major}}{{.student.Major.Name}}{{else}}未知{{end}}</li>
			<li>班级：{{if .student.Class}}{{.student.Class.Name}}{{else}}未知{{end}}</li>
			<li>入学日期: {{if not (eq .student.EnterSchoolDate 0)}}{{.student.EnterSchoolDate}}{{else}}未知{{end}}</li>
		</ul>
	</fieldset>

	<fieldset>
		<legend>学风数据</legend>
		<div id="radar" class="h-300"></div>
	</fieldset>
	<fieldset>
		<legend>学风数据</legend>
		<div id="line" class="h-300"></div>
	</fieldset>
	<fieldset>
		<legend>学风数据</legend>
		<div id="pie" class="h-300"></div>
	</fieldset>
</div>