<div class="am-g bg-primary ">
	<div class="am-u-lg-2 am-u-md-3 am-u-sm-4 am-u-sm-centered am-padding-vertical-xl">
		<img class="am-round am-img-thumbnail" src="/static/img/avatar.jpeg" />
	</div>
</div>
<br><br>
<div class="am-container">
	<fieldset>
		<legend>个人信息</legend>
		<ul class="am-avg-md-3 am-avg-sm-2 am-thumbnails">
			<li>姓名：张三</li>
			<li>性别：男</li>
			<li>学号：122011046</li>
			<li>系别：电子通信与软件工程系</li>
			<li>专业：计算机科学与技术</li>
			<li>班级：计算机一班</li>
		</ul>
	</fieldset>

	<fieldset>
		<legend>学风数据</legend>
		<div id="radar" class="h-300"></div>
	</fieldset>
	<fieldset>
		<legend>学风数据</legend>
		<div id="line" class="h-300"></div>
	</fieldset>
	<fieldset>
		<legend>学风数据</legend>
		<div id="pie" class="h-300"></div>
	</fieldset>
</div>