<a href="#contact" data-am-offcanvas class="am-icon-btn am-icon-users am-active am-show-sm-only retop"></a>
<!-- contact aside -->
<div id="contact" class="am-offcanvas">
    <br>
    <br>
    <div class="am-offcanvas-bar contact reset">
        <ul class="contact reset">
            {{range $key, $val := .s_notices}}
                <li>
                    <div class="am-g changeNotice" data-sender-id="{{(index $val "sender").Id}}" data-sender-type="{{index $val "type"}}">
                        {{if eq (index $val "type") "teacher"}}
                            <div class="am-u-sm-3">
                                <img class="am-round am-img-thumbnail" src='{{(index $val "sender").Headimgurl}}'>
                            </div>
                        {{end}}
                        <div class="am-u-sm-9">
                            <span>{{(index $val "sender").Name}}</span>
                        </div>
                    </div>
                </li>
            {{end}}
        </ul>
    </div>
</div>


<div class="am-container">
    <div class="am-u-md-3 am-hide-sm-only reset">
        <ul class="am-g contact reset">
            {{range $key, $val := .s_notices}}
                <li>
                    <div class="am-g changeNotice" data-sender-id="{{(index $val "sender").Id}}" data-sender-type="{{index $val "type"}}">
                        {{if eq (index $val "type") "teacher"}}
                            <div class="am-u-sm-3">
                                <img class="am-round am-img-thumbnail" src='{{(index $val "sender").Headimgurl}}'>
                            </div>
                        {{end}}
                        <div class="am-u-sm-9">
                            <span>{{(index $val "sender").Name}}</span>
                        </div>
                    </div>
                </li>
            {{end}}
        </ul>
    </div>

    <div class="am-u-md-9 am-u-sm-12 reset">
        {{if .s_notices}}
            {{range $key, $val := .s_notices}}
                <div class="am-g content {{if gt $key 0}}hide{{end}}" data-sender-id="{{(index $val "sender").Id}}" data-sender-type="{{index $val "type"}}">
                    <ul class="am-comments-list am-comments-list-flip">
                        {{range $key1, $val1 := index $val "notice"}}
                            <li class="am-comment" data-notice-id="{{$val1.Id}}">
                                {{if eq $val1.SenderType "teacher"}}
                                    <a href="/view/student/teacherInfo?teacher={{(index $val "sender").Id}}" class="am-comment-author">
                                        <img src="{{(index $val "sender").Headimgurl}}" alt="" class="am-comment-avatar" width="48" height="48"/>
                                    </a>
                                {{end}}
                                <div class="am-comment-main">
                                    <header class="am-comment-hd">
                                        <div class="am-comment-meta">
                                            <a href="/view/student/teacherInfo?teacher={{(index $val "sender").Id}}" class="am-comment-author">{{(index $val "sender").Name}}</a>
                                            发送于 {{date $val1.CreateTime "Y-m-d H:i:s"}}
                                        </div>
                                        <div class="am-comment-actions"><a href=""><a href="#" class='delete-notice' data-notice-id="{{$val1.Id}}"><i class="am-icon-close"></i></a></div>
                                    </header>
                                    <div class="am-comment-bd bg-white">
                                        <span>{{str2html $val1.Content}}</span>                                  
                                    </div>
                                </div>
                            </li>
                        {{end}}
                    </ul>
                </div>
            {{end}}
        {{else}}
            <div class="am-g content"></div>
        {{end}}
    </div>
</div>