<div class="am-container">
	<br>
    <div class="am-u-sm-12 am-u-md-8 am-u-lg-5">
        <form action="/api/student/studentScore" method="post" class="am-form">
            <div class="am-form-group am-form-group-sm am-u-sm-5 pad-l-r">
                <select name="xnd" class="am-form-field">
                    {{range $key, $val := (.term_list | GetTermsYear | FilterRepeat)}}
                        <option value="{{$val}}" {{if eq $val ($.term | GetTermYear)}}selected="selected"{{end}}>{{$val}}</option>
                    {{end}}
                </select>
            </div>
            <div class="am-form-group am-form-group-sm am-u-sm-5 pad-l-r">
                <select name="xqd" class="am-form-field">
                    {{range $key, $val := (.term_list | GetTermsNumber | FilterRepeat)}}
                        <option value="{{$val}}" {{if eq $val ($.term | GetTermNumber)}}selected="selected"{{end}}>{{$val}}</option>
                    {{end}}
                </select>
            </div>
            <div class="am-form-group am-u-sm-2 pad-l-r">
                <input type="hidden" name='key' value="{{.key}}">
                <input type="hidden" name='signature' class='signature'>
                <button type="submit" class="am-btn am-btn-primary am-btn-sm">查看</button>
            </div>
        </form>
    </div>
    <div class="am-u-sm-12">
        <fieldset>
            <legend>成绩统计</legend>
            <div id="line" class="h-300"></div>

        </fieldset>

        <fieldset>
            <legend>学期成绩</legend>
            <table class="am-table am-table-bordered am-table-radius am-table-striped am-text-sm">
                <thead>
                    <tr>
                        <th>学年</th>
                        <th>学期</th>
                        <th>课程代码</th>
                        <th>课程名称</th>
                        <th>课程性质</th>
                        <th>课程归属</th>
                        <th>学分</th>
                        <th>绩点</th>
                        <th>成绩</th>
                        <th>学院名称</th>
                    </tr>
                </thead>
                <tbody>
                    {{if .s_courses}}
                        {{range $key, $val := .s_courses}}
                            <tr>
                                <td>{{$.term.StartYear}}-{{$.term.EndYear}}</td>
                                <td>{{$.term.Number}}</td>
                                <td>{{$val.TeacherCourse.Course.Id}}</td>
                                <td>{{$val.TeacherCourse.Course.Name}}</td>
                                <td>{{$val.TeacherCourse.Course.Type}}</td>
                                <td>{{$val.TeacherCourse.Course.Remark}}</td>
                                <td>{{$val.TeacherCourse.Course.Credit}}</td>
                                <td>{{$val.Score.GradePointAverage}}</td>
                                <td>{{$val.Score.Grade}}</td>
                                <td>{{$val.TeacherCourse.Course.Department | getDepartmentName}}</td>
                            </tr>
                        {{end}}
                    {{else}}
                        <tr>
                            <td colspan="10">暂无数据</td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </fieldset>
        <fieldset>
            <legend>学期总结</legend>
            <table class="am-table am-table-bordered am-table-radius am-table-striped am-text-sm">
                <thead>
                    <tr>
                        <th>获得学分</th>
                        <th>获得绩点</th>
                        <th>平均成绩</th>
                        <th>平均绩点</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{.s_courses | getCourseCredit}}</td>
                        <td>{{.s_courses | getCourseGPA}}</td>
                        <td>{{.s_courses | getCourseAverageGrade}}</td>
                        <td>{{.s_courses | getCourseAverageGPA}}</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>