<br>
{{if .change}}
	<div class='am-container'>
		<div class="am-alert am-alert-success" data-am-alert>
		  <button type="button" class="am-close">&times;</button>
		  <p>操作成功...</p>
		</div>
	</div>
{{end}}
{{if not .student.Password}}
	<div class='am-container'>
		<div class="am-alert am-alert-danger" data-am-alert>
		  <button type="button" class="am-close">&times;</button>
		  <p><a href="/view/student/setting">您还没有设置密码...点击此处设置</a></p>
		</div>
	</div>
{{end}}

<div class="am-container">
	<div class="am-u-sm-12 am-u-md-8 am-u-lg-5 reset">
		<form action="/api/student/studentCourse" method="post" class="am-form">
			<div class="am-form-group am-form-group-sm am-u-sm-5 pad-l-r">
				<select name="xnd" class="am-form-field">
					{{range $key, $val := (.term_list | GetTermsYear | FilterRepeat)}}
					<option value="{{$val}}" {{if eq $val ($.term | GetTermYear)}}selected="selected"{{end}}>{{$val}}</option>
					{{end}}
				</select>
			</div>
			<div class="am-form-group am-form-group-sm am-u-sm-3 pad-l-r">
				<select name="xqd" class="am-form-field">
					{{range $key, $val := (.term_list | GetTermsNumber | FilterRepeat)}}
					<option value="{{$val}}" {{if eq $val ($.term | GetTermNumber)}}selected="selected"{{end}}>{{$val}}</option>
					{{end}}
				</select>
			</div>
			<div class="am-form-group am-form-group-sm am-u-sm-2 pad-l-r">
				<select name="week" class="am-form-field">
					{{range $key, $val := .course_week}}
					<option value="{{$val}}" {{if eq $.now_week $val}}selected="selected"{{end}}>{{$val}}</option>
					{{end}}
				</select>
			</div>
			<div class="am-form-group am-u-sm-2 pad-l-r">
				<input type="hidden" name='key' value="{{.key}}">
				<input type="hidden" name='signature' class='signature'>
				<button type="submit" class="am-btn am-btn-primary am-btn-block am-btn-sm">查看</button>
			</div>
		</form>
		<div>&nbsp;</div>
	</div>
	<table class="tb am-table-bordered">
		<thead>
			<tr>
				<th class="head"></th>
				<th>星期一</th>
				<th>星期二</th>
				<th>星期三</th>
				<th>星期四</th>
				<th>星期五</th>
			</tr>
		</thead>
		<tbody>
			{{if .s_courses}}
				{{range $key, $val := $.s_courses}}  <!--节-->
				<tr>
					<td><small>{{index $.course_time $key}}</small><br><b>{{$val.Key}}</b></td>
					{{range $key1, $val1 := $val.Val.Val}}  <!--周几-->
						{{if eq ($key1 | getKey) $val1.Key}}
							{{if $val1.Val}}
								{{if JudgeCourseSpacing $.now_week $val1.Val}}  <!-- 判断单双周 -->
									{{if WeekIsPart $.now_week (index $val1.Val (JudgeCourseSpacing $.now_week $val1.Val)).TeacherCourse}} <!-- 几周到几周上课 -->
										{{if eq $val.Key ((index $val1.Val (JudgeCourseSpacing $.now_week $val1.Val)).TeacherCourse.Time | GetWeekTime | GetWeekTimeSmall)}}
											<td class="tb-class {{index $.course_color (GetCourseColor $key $val1.Key)}}" rowspan="{{(index $val1.Val (JudgeCourseSpacing $.now_week $val1.Val)).TeacherCourse.Time | GetWeekTime | len}}" data-student-course-id="{{(index $val1.Val (JudgeCourseSpacing $.now_week $val1.Val)).TeacherCourse.Id}}">
												<span>{{(index $val1.Val (JudgeCourseSpacing $.now_week $val1.Val)).TeacherCourse.Course.Name}}</span><br>
												{{(index $val1.Val (JudgeCourseSpacing $.now_week $val1.Val)).TeacherCourse.Teacher.Name}} <br>
												{ 第{{(index $val1.Val (JudgeCourseSpacing $.now_week $val1.Val)).TeacherCourse.StartWeek}} - {{(index $val1.Val (JudgeCourseSpacing $.now_week $val1.Val)).TeacherCourse.EndWeek}}周
												{{if (index $val1.Val (JudgeCourseSpacing $.now_week $val1.Val)).TeacherCourse.Remark}} | {{(index $val1.Val (JudgeCourseSpacing $.now_week $val1.Val)).TeacherCourse.Remark}} {{end}} } <br>
												{{(index $val1.Val (JudgeCourseSpacing $.now_week $val1.Val)).TeacherCourse.Place}}
											</td>
										{{end}}
									{{else}}
									<td></td>
									{{end}}
								{{else}}
								<td></td>
								{{end}}
							{{else}}		
							<td></td>
							{{end}}
						{{end}}
					{{end}}
				</tr>
				{{end}}
			{{else}}
				{{range $key, $val := $.course_time}}
				<tr>
					<td><small>{{$val}}</small><br><b>{{$key | getKey}}</b></td>
					<td></td><td></td><td></td><td></td><td></td>
				</tr>
				{{end}}
			{{end}}
		</tbody>
	</table>
	<br>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="modal">
	<div class="am-modal-dialog">
		<div class="am-modal-hd">
			<span id="course-name">课程</span>
			<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
		</div>
		<div class="am-modal-bd">
			<br>
			<div class="am-container am-padding-horizontal-lg am-padding-bottom-sm">
				<a href="javascript: void(0)" class="am-btn am-btn-block am-btn-secondary" id="course-info">课程信息</a>
				<a href="javascript: void(0)" class="am-btn am-btn-block am-btn-success" id="student-course-homework">作业管理</a>
				<a href="javascript: void(0)" class="am-btn am-btn-block am-btn-danger" id="student-course-history">课堂记录</a>
			</div>
		</div>
	</div>
</div>