<br>
{{if .change}}
	<div class='am-container'>
		<div class="am-alert am-alert-success" data-am-alert>
		  <button type="button" class="am-close">&times;</button>
		  <p>操作成功...</p>
		</div>
	</div>
{{end}}
<div class="am-container">
	<table class="tb am-table-bordered">
		<thead>
			<tr>
				<th class="head"></th>
				<th>星期一</th>
				<th>星期二</th>
				<th>星期三</th>
				<th>星期四</th>
				<th>星期五</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><small>08:00</small><br><b>1</b></td>
				<td></td>
				<td rowspan="3" class="tb-blue tb-class">
					系统分析与设计<br>
					2实203
				</td>
				<td rowspan="2" class="tb-yellow tb-class">
					电子商务<br>
					1教201
				</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><small>08:50</small><br><b>2</b></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><small>09:45</small><br><b>3</b></td>
				<td rowspan="3" class="tb-green tb-class">
					嵌入式系统与应用<br>
					1实205
				</td>
				<td rowspan="3" class="tb-violet tb-class">
					ASP.NET技术<br>
					2实203
				</td>
				<td rowspan="3" class="tb-blue-green tb-class">
					多媒体技术<br>
					2实106
				</td>
				<td></td>
			</tr>
			<tr>
				<td><small>10:35</small><br><b>4</b></td>
				<td rowspan="2" class="tb-red tb-class">
					管理学基础<br>
					11教206
				</td>
				<td></td>
			</tr>
			<tr>
				<td><small>11:20</small><br><b>5</b></td>
				<td></td>
			</tr>
			<tr>
				<td><small>12:50</small><br><b>6</b></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><small>13:40</small><br><b>7</b></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><small>14:30</small><br><b>8</b></td>
				<td rowspan="2" class="tb-yellow tb-class">
					数字图像处理<br>
					1教203
				</td>
				<td rowspan="2" class="tb-origin tb-class">
					网络设计与管理综合实训<br>
					1实305
				</td>
				<td rowspan="3" class="tb-green tb-class">
					软件测试与项目管理<br>
					2实106
				</td>
				<td rowspan="3" class="tb-black tb-class">
					软件与数据库开发实训<br>
					2实105
				</td>
				<td></td>
			</tr>
			<tr>
				<td><small>15:15</small><br><b>9</b></td>
				<td></td>
			</tr>
			<tr>
				<td><small>16:10</small><br><b>10</b></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><small>16:55</small><br><b>11</b></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><small>18:45</small><br><b>12</b></td>
				<td></td>
				<td></td>
				<td rowspan="3" class="tb-red tb-class">
					Java高级编程<br>
					2实203
				</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><small>19:35</small><br><b>13</b></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><small>20:15</small><br><b>14</b></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<br>
</div>