<div class="am-g bg-primary ">
	<div class="am-u-lg-2 am-u-md-3 am-u-sm-4 am-u-sm-centered am-padding-vertical-xl">
		<img class="am-round am-img-thumbnail" src="{{.teacher.Headimgurl}}" />
	</div>
</div>
<br><br>
<div class="am-container">
	<fieldset>
		<legend>个人信息</legend>
		<ul class="am-avg-md-3 am-avg-sm-2 am-thumbnails">
			<li>姓名：{{.teacher.Name}}</li>
			<li>性别：{{.teacher.Sex | getSex}}</li>
			<li>工号：{{.teacher.Id}}</li>
			<li>系别：{{if .teacher.Department}}{{.teacher.Department.Name}}{{else}}未知{{end}}</li>
		</ul>
	</fieldset>
	<fieldset>
		<legend>工作信息</legend>
		{{if .teacher.Profile}}
		<ul class="am-avg-md-3 am-avg-sm-2 am-thumbnails">
			<li>联系方式：{{if .teacher.Profile.Phone}} {{.teacher.Profile.Phone}} {{else}} 未知 {{end}}</li>
			<li>电子邮箱：{{if .teacher.Profile.Email}} {{.teacher.Profile.Email}} {{else}} 未知 {{end}}</li>
			<li>学历\学位：{{if .teacher.Profile.Degree}} {{.teacher.Profile.Degree}} {{else}} 未知 {{end}}</li>
			<li>个人职称：{{if .teacher.Profile.Title}} {{.teacher.Profile.Title}} {{else}} 未知 {{end}}</li>
			<li>学科方向：{{if .teacher.Profile.Subject}} {{.teacher.Profile.Subject}} {{else}} 未知 {{end}}</li>
		</ul>
		个人简历：<br>
		&nbsp;&nbsp;&nbsp;&nbsp;{{if .teacher.Profile.Remark}} {{.teacher.Profile.Remark}} {{else}} 未知 {{end}}
		{{else}}
			暂无数据
		{{end}}
	</fieldset>
</div>