.contact {
    background-color: #2F3336;
    overflow: auto;
    list-style: none;
    position: relative;
}

.contact li {
    padding: 5px;
    width: 100%;
    background-color: #464A4D;
    color: #FFFFFF;
    overflow: hidden;
    height: auto;
    line-height: 60px;
    cursor: pointer;
    border-bottom: 1px solid #000000;
}

.content {
    padding: 20px;
    background-color: #EEEEEE;
    overflow: auto;
}

.bg-white {
    background-color: #F8F8F8;
}
